<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interest Calculator</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="container">
        <input type="text" id="amount" placeholder="Balance in DKK" onkeydown="if (event.key === 'Enter') calculateBestPlans()">
        <button onclick="calculateBestPlans()">Calculate Best Plans</button>
        <div id="best-plans"></div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>
