<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunar Plan Advisor Denmark</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="container">
        <input type="text" id="balance" placeholder="Balance in DKK" onkeydown="if (event.key === 'Enter') calculateBestPlans()">
        <button onclick="calculateBestPlans()">Calculate Best Plans 📈</button>
        <button onclick="window.location.href='https://github.com/romietis/lunar-plan-advisor/wiki#welcome-to-lunar-plan-advisor'">ℹ️</button>
        <div id="best-plans"></div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>
